.circle {
  background-color: #5677fc;
  position: absolute;
  border-radius: 100%;
  margin-top: 0px;
  margin-left: 0px;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  -webkit-animation: grow 1s;
}
.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  z-index: -1;
  -webkit-box-shadow: 0 0px 0px -1px rgba(0,0,0,0.3);
        box-shadow: 0 0px 0px -1px rgba(0,0,0,0.3);
}
.cards {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  margin-top: 40px;
  z-index: 2;
  padding: 10px;
}

@-webkit-keyframes grow {
    50% {
      top: -50%;
    }
    100% {
      top: -50%;
      left: 0%;
      width: 100%;
      height: 1376px;
      border-radius: 0px;
    }
}